[user]
       name = Gregor Woiwode
       email = gregor.woiwode@o-s.de
[core]
       editor = /cygdrive/c/Program\\ Files/Sublime\\ Text\\ 3/sublime_text.exe --new-window --wait \"$(cygpath --windows --absolute \"$1\")\"
[i18n]
       commitencoding = UTF-8
       logoutputencoding = UTF-8
[color]
       diff = auto
       status = auto
       branch = auto
       ui = auto
       wtf = true
[color "diff"]
	   old = bold red
	   new = bold green
	   meta = bold yellow
[color "branch"]
       current = black green
       local = bold green
       remote = yellow
       plain = bold yellow
[color "status"]
       added = bold red
       changed = bold green
       untracked = bold cyan
       nobranch = red reverse
[color "interactive"]
       prompt = bold green
       error = bold red
[diff]
       tool = diffmerge
[merge]
       tool = diffmerge
[difftool "diffmerge"]
       cmd = /cygdrive/c/Program\\ Files/SourceGear/Common/DiffMerge/sgdm_cygwin.sh /p1=\"$LOCAL\" /p2=\"$REMOTE\"
[mergetool "diffmerge"]
      cmd = /cygdrive/c/Program\\ Files/SourceGear/Common/DiffMerge/sgdm_cygwin.sh /merge /result=\"$MERGED\" /p1=\"$LOCAL\" /p2=\"$BASE\" /p3=\"$REMOTE\"
      trustExitCode = true
      keepBackup = false
[http]
	proxy = http://www-s9.dienste.telekom.de:8080
